<template>

        <ul class="hidden space-x-2 md:inline-flex">
          <li v-for="item in menu" :key="item.name"><router-link :to="item.link" class="px-4 py-2 font-semibold text-gray-600 rounded">{{item.name}}</router-link></li>
        </ul>
        
</template>
<script>
export default {
    computed: {
        menu() {
            return this.$store.state.navigation;
        }
    }
}
</script>