<template>
    <div class="bg-gray-100">
        <header
            class="
                sticky
                top-0
                z-30
                w-full
                px-2
                py-4
                bg-white
                sm:px-4
                shadow-xl
            "
        >
            <div class="flex items-center justify-between mx-auto max-w-7xl">
                <router-link to="/">
                    <span class="text-2xl font-extrabold text-blue-600">{{
                        siteName
                    }}</span>
                </router-link>
                <div class="flex items-center space-x-1">
                    <ul class="hidden space-x-2 md:inline-flex">
                        <li v-for="item in menu" :key="item.name">
                            <router-link
                                :to="item.link"
                                class="
                                    px-4
                                    py-2
                                    font-semibold
                                    text-gray-600
                                    rounded
                                    capitalize
                                "
                                >{{ item.name }}</router-link
                            >
                        </li>
                    </ul>
                    <div class="inline-flex md:hidden">
                        <button class="flex-none px-2" v-on:click="setMenuState" v-if="!mobileMenu">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 8h16M4 16h16"
                                />
                            </svg>
                            <span class="sr-only">Open Menu</span>
                        </button>
                        <!-- put list item -->
                        <ul class="space-y-2" v-if="mobileMenu">
                            <li v-for="item in menu" :key="item.name" v-on:click="setMenuState">
                                <router-link
                                    :to="item.link"
                                    class="
                                        px-4
                                        py-2
                                        font-semibold
                                        text-gray-600
                                        rounded
                                        capitalize
                                    "
                                    >{{ item.name }}</router-link
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    computed: {
        menu() {
            return this.$store.getters.menu;
        },
        siteName() {
            return this.$store.getters.siteName;
        },
        mobileMenu: {
            get() {
                return this.$store.getters.mobileMenu
            },
            set() {
                //this.$store.dispatch('setMenuState');
            }
        }
    },
    methods: {
        setMenuState() {
            this.$store.dispatch('setMenuState');
        }
    }
};
</script>
