<template>
    <div class="p-12 shadow-md w-2/3 flex justify-center content-center">{{about}}</div>
</template>
<script>

export default {
    computed: {
        about() {
            return this.$store.getters.aboutMe;
        }
    }
}
</script>