<template>
  <section class="p-4 mx-auto max-w-7xl">
    <div class="mx-auto font-sans">
      <h1 class="text-2xl font-bold"hi</h1>
      <p> Header dummay data Lorem....</p>
    </div>
  </section>
</template>
<script>
export default {
    mounted() {
    }
}
</script>